<!DOCTYPE html>
<html>
  <body>
    <h1 style="color:black;text-align: center">
      Reload the opened github pages to view the GitX plugin features
    </h1>
    <script>
      const accessToken = '<%= accessToken %>';
      console.log(accessToken);
      document.cookie = `accessToken=${accessToken}<%= accessToken %>; max-age=2592000;`;
      window.onload = () => {
        window.postMessage({
          type: 'githubPrivateCommentToken',
          value: accessToken,
        });
      };
    </script>
  </body>
</html>
