<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Node oAuth2 Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
    <a
      href="https://github.com/login/oauth/authorize?client_id=d349f2ece984aa05df0b&redirect_uri=https://morning-headland-55324.herokuapp.com/api/v1/oauth/redirect"
      >Login with github</a
    >
  </body>
</html>
